.s-contact {
  @include grid-block (
    $wrap: true
  );

  background-color: $co-color__fg__back--low;

  &__datas-irl {
    @include grid-block(12);
    @include grid-wrap(true);

    padding: $co-margin;
    background-color: $co-color__fg__back;

    .m-avatar {
      @include m-avatar--size($m-avatar__size--large);
    }

    @include breakpoint(medium) {
      @include grid-size(5);

      text-align: center;

      .m-contact-card {
        @include m-contact-card--break;

        width: 100%;
      }

      .m-avatar {
        @include m-avatar--size($m-avatar__size--xlarge);
      }
    }
  }

  &__datas-online {
    @include grid-block(12);
    @include grid-wrap(true);

    padding: $co-margin;

    @include breakpoint(medium) {
      @include grid-size(7);
    }
  }
}
